* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
  font-family: Arial, sans-serif;
  background: #f3f7fc;
  align-items: 1140px;
}

/* font */
.inter-normal-font-1 {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}
.noto-serif-normal-font-2 {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

/* Nav Styles */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 100px;
}

nav a {
    text-decoration: none;
    margin: 48px;
}

.B {
    color: #252432;
    font-weight: bold;
}

.C {
    color: #8987A1;
    font-weight: 400;
}

.cart-text {
    color: #000000;
    font-weight: 400;
    font-size: 16px;
}
.cart-link {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  text-decoration: none;
  color: #000;
  font-family: sans-serif;
  font-size: 16px;
}

.cart-icon {
  width: 20px;
  height: 20px;
  stroke: currentColor;
  fill: none;
}

.naver {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 30px 150px 0px 150px;
}
.Font-A{
    font-size: 65px;
    font-weight: bold;
}
.orange {
    color: #E95A08;
}
.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 120px 150px 120px 150px;
}
.hero-text {
  flex: 1;
  max-width: 50%;
}

.hero-text {
  font-size: 22px;
  line-height: 1.2;
  margin-bottom: 20px;
  font-weight:200;
}

